<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <p>Express js learning phase with enable ejs view engine. </p>

    


    <script src="/javascript/script.js"></script>

</body>
</html>